<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%= user.username %>

    <form action="/user/profile/<%= user.id %> " method="post">
      <button type="submit">
        <% if(mainUser.following.includes(user.id)){ %> Following <% } else{ %> Follow <% } %>
      </button>
    </form>
  </body>
</html>
