* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blueBorderSelected {
  border: 5px solid #0d6efd;
}

/* ///////////////////////////////////////// WELCOME ////////////////////////////////////////////////*/
body {
  background-image: url("../img/welcomeWallpaper.png");
}

.container {
  margin: 0;
  max-width: 100vw;
}

#welcomeImgDiv {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcomeImg {
  object-fit: contain;
  max-width: 400px;
  max-height: 400px;
}

#welcomeModals {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.welcomeTitle {
  color: white;
  font-size: 3.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ----------------------------------------- MODALS -------------------------------------------------*/
.loginModal {
  background-color: rgb(0, 0, 0);
  max-width: 35%;
  color: white;
}

.loginModalBg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s opacity 0.5s;
}

.loginModalActive {
  visibility: visible;
  opacity: 1;
}

.registerModal {
  background-color: rgb(0, 0, 0);
  max-width: 35%;
  color: white;
}

.registerModalBg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s opacity 0.5s;
}

.registerModalActive {
  visibility: visible;
  opacity: 1;
}

.registerLabels {
  color: rgb(127, 127, 127);
}
